
.container{
    border: 1px solid red;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 1rem;
}

img{
    width: 20%;
    max-width: 200px;
    height: 100px;
}
ul{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    align-items:center;
    height: 20px;
    border: 1px solid green;
}
ul li{
    padding-left: 2rem;
    padding-right: 1rem;
}
.main-section{
    width: 90%;
    max-width: 900px;
}

.card-container{
    width: 90%;
    max-width: 900px;
    border: 2px solid salmon;
    display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
 }
.res-card{
    margin-top: 1rem;
    width: 30%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.res-image{
    width: 100%; 
}

.footer{
    background-color: beige;
    margin-top: 100%;
    padding: 20px;
}